{% extends 'schedule/base.html' %}
{% block title %}Report{% endblock %}
{% block report_active %}active{% endblock %}


{% block body %}

	<ul>
	    <div class="thumbnail col-sm-7 col-lg-7">
	        <a href="{% url 'schedule:report_teacher_year' %}" class="btn btn-primary btn-sm">Teaching by teacher per year</a>
	    </div>
	    <div class="thumbnail col-sm-7 col-lg-7">
	        <a href="" class="btn btn-primary btn-sm">Teaching by student group</a>
	    </div>
	    <div class="thumbnail col-sm-7 col-lg-7">
	        <a href="{% url 'schedule:report_group_degree' %}" class="btn btn-primary btn-sm">Strudent group by degree program</a>
	    </div>
	    <div class="thumbnail col-sm-7 col-lg-7">
	        <a href="" class="btn btn-primary btn-sm">Teachers by degree program</a>
	    </div>
	    <div class="thumbnail col-sm-7 col-lg-7">
	        <a href="{% url 'schedule:report_teacher_week' %}" class="btn btn-primary btn-sm">Teaching by teacher per week</a>
	    </div>
	</ul>
	
{% endblock %}