{% extends 'schedule/base.html' %}
{% block room_active %}active{% endblock %}
{% block add_href %}{% url 'schedule:room-add' %}{% endblock %}
{% block add_text %}Room{% endblock %}

{% block body %}
	
	<ul>
		{% for room in all_rooms %}
			<div class="col-sm-3 col-lg-3">
	            <div class="thumbnail">
	                
	                <p>{{ room.name }} - {{ room.seat }} seats</p>

	                <!-- View Details -->
	                <a href="{% url 'schedule:room_detail' room.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

	                <!-- Update -->
	                <form action="{% url 'schedule:room-update' room.id %}" style="display: inline;">
	                    {% csrf_token %}
	                    <input type="hidden" name="room_id" value="{{ room.id }}" />
	                    <button type="submit" class="btn btn-default btn-sm">
	                        <span class="glyphicon glyphicon-pencil"></span>
	                    </button>
	                </form>

	                <!-- Delete -->
	                <form action="{% url 'schedule:room-delete' room.id %}" method="post" style="display: inline;">
	                    {% csrf_token %}
	                    <input type="hidden" name="room_id" value="{{ room.id }}" />
	                    <button type="submit" class="btn btn-default btn-sm">
	                        <span class="glyphicon glyphicon-trash"></span>
	                    </button>
	                </form>
	            </div>
	        </div>
		{% endfor %}
	</ul>
	
{% endblock %}