{% extends 'schedule/base.html' %}
{% block teacher_active %}active{% endblock %}
{% block add_href %}{% url 'schedule:teacher-add' %}{% endblock %}
{% block add_text %}Teacher{% endblock %}

{% block body %}

	<ul>
		{% for teacher in all_teachers %}
			<div class="col-sm-3 col-lg-3">
	            <div class="thumbnail">
	                
	                <p>{{ teacher.code }} - {{ teacher.name }}</p>

	                <!-- View Details -->
	                <a href="{% url 'schedule:teacher_detail' teacher.id %}" class="btn btn-primary btn-sm" role="button">View Details</a>

	                <!-- Update -->
	                <form action="{% url 'schedule:teacher-update' teacher.id %}" style="display: inline;">
	                    {% csrf_token %}
	                    <input type="hidden" name="teacher_id" value="{{ teacher.id }}" />
	                    <button type="submit" class="btn btn-default btn-sm">
	                        <span class="glyphicon glyphicon-pencil"></span>
	                    </button>
	                </form>

	                <!-- Delete -->
	                <form action="{% url 'schedule:teacher-delete' teacher.id %}" method="post" style="display: inline;">
	                    {% csrf_token %}
	                    <input type="hidden" name="teacher_id" value="{{ teacher.id }}" />
	                    <button type="submit" class="btn btn-default btn-sm">
	                        <span class="glyphicon glyphicon-trash"></span>
	                    </button>
	                </form>
	            </div>
	        </div>
		{% endfor %}
	</ul>
	
{% endblock %}